*{
    margin: 0;
    box-sizing: border-box;
    background-color: #CCC;
}

.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    border: 1px solid black;
    justify-content: space-evenly;
    align-items: center;
    width: 98vw;
    height: 97vh;
}

.logo{
    width: 250px;
    height: 250px;
    margin: 1px;
    padding: 10px;
}