body{
    background-color: #ccc;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 100vh;
    /* justify-content: space-evenly; */
    /* align-content: space-between; */
    /* align-items: end; */
    justify-items: center;
}

.items{
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.item-1{
    grid-column: 1 / -1;
}

.item-4{
    grid-row: 2 / -1;
}

.item-9{
    grid-column: 1 / -1;
}